  /* Logo em seguida nas estilizações, 
  tem o estilo da div escondida em si, 
  e também o pseudoelemento :target, que basicamente nesse 
  caso faz aparecer o modal, trocando a sua visibilidade.
 */
  
/* .modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, 0.7);
  transition: all 0.4s;
}  */
 
/* .modal:target {
  visibility: visible;
  opacity: 1;
} */

/* E por fim tem a estilização do conteúdo em si, o 
texto centralizado, o rodapé e o botão para fechar.

 .modal-content {
  border-radius: 4px;
  position: relative;
  width: 500px;
  max-width: 90%;
  background: #fff;
  padding: 1em 2em;
} */
 
/* .footer {
  text-align: right;
  margin-top: 50px;
} */
 
/* .close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #585858;
  text-decoration: none;
} */
 
/* .footer-btn-close {
  width: 150px;
  padding: 10px;
  text-decoration: none;
  background-color: #cfcca8;
  color: #000000;
  border-radius: 3px;
} */
/* Somente com esse código já é possível ter um modal com HTML e CSS.

Esse código pode ser alterado para atender a sua necessidade. */


.botao-abrir {
    display: flex;
    background:rgb(52,52,52) ;
    background:linear-gradient(90deg,rgba(255,52,52,1)0%,
    rgba(255,120,10,1)0%,
    rgb(255, 133, 0)0%);
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.botao-abrir a {
    display:inline-block;
    text-decoration: none;
    padding: 15px;
    background-color: #fff;
    border-radius: px;
    text-transform: uppercase;
    color:#585858;
    font-family: "roboto",sans-serif;
}

.modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
  display: flex;
  align-items: center;
  justify-content: center;
  background:rgba(77,77,77,0.7) ;
  transition: all 0.4s;
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

.modal-content {
  border-radius: 4px;
  position: relative;
  width: 500px;
  max-width: 90%;
  background: #fff;
  padding: 1em 2em;
}

.modal-footer {
  text-align: right;
  margin-top: 50px;
}

.modal-shut {
  position: absolute;
  top: 10px;
  right: 10px;
  color:#585858;
  text-decoration: none;
}

.modal-footer-btn-close {
  width: 150px;
  padding: 10px;
  text-decoration: none;
  background-color: #cfcca8;
  color:#000000;
  border-radius: 3px;
}